* {
    margin: 0;
    padding: 0;
}

:root {
    --tomato: #F9684A;
    --jasmine: #FDD581;
    --pewter-blue: #7CADB1;
    --white-chocolate: #EBE4DB;
    --bone: #E1D6C5;
    --cinereous: #9D8887;
    --light-pewter-blue: #E1EBEC;
    --light-jasmine: #f1e8d5;
    --light-tomato: #e7d9d6;
    /* --light-white-chocolate: #f7f3ef; */
    --light-white-chocolate: #f3eee8;
}

html {
    width: 100%;
    height: 100%;
    font-size: 100%;
    font-family: Roboto, Courier, serif;
    position: fixed;
}

body {
    height: 100%;
    width: 100%;
    /* width: min(100%, 500px);
    height: min(100%, 825px); */
    /* position: relative;  */
    /* position: fixed; */
    display: grid;
    grid-template-rows: 6vh 1fr 4vh;
} 

header, footer {
    background-color: var(--pewter-blue);
}

footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    top: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: relative;
    z-index: 1;
}

header h1{
    font-size: xx-large;
    font-weight: bolder;
    position: absolute;
    justify-self: center;
}

header button{
    background-color: var(--pewter-blue);
    border: none;
    margin: 5px;
    position: absolute;
}

header img{
    height: 30px;
    width: auto;
}

main {
    display: flex;
    position: relative;
    background-color: var(--white-chocolate);
}

nav {
    position: fixed;
    height: calc(100% - 10vh);
    max-width: 275px;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--bone);
    transition: opacity 1s ease, transform 1s ease;
    opacity: 0;
    transform: translateY(-1000px);
}

.visible {
    opacity: 1;
    transform: translateY(0px); 
}

nav li {
    list-style: none;
    padding: 8px 5px;
}

#navbar-top ul{
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: larger;
}

#navbar-bottom-heading {
    font-size: large;
}

#projects-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    gap: 20px;
} 

#add-project {
    font-size: xx-large;
    background: var(--bone);
    padding: 0 10px;
    border: none;
}

#project-links {
    padding: 0 0 0 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.project-title-container:hover,
.project-title-container:hover .edit-btn,
nav li:hover,
#add-project:hover {
    background-color: var(--white-chocolate);
}

.project-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: large;
    padding: 0 5px;
    /* flex-wrap: wrap;
    word-wrap: break-word;
    word-break: break-word; */
}

.edit-btn {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bone);
    border: none;
}

#project-links img {
    width: 20px;
    height: auto;
}

.edit-project-choices {
    position: absolute;
    z-index: 4;
    width: 200px;
    height: 100px;
}

.new-project-form {
    position: absolute;
    top: 50%;
    left: 50%;
    width: min(60%, 300px);
    height: min(25%, 400px);
    border: solid black;
    background-color: var(--cinereous);
    transform: translate(-50%, -50%);
    z-index: 3;
}

.new-project,
.new-todo,
#todo-inputs-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.input-field {
    height: 25px;
    padding: 0 0 20px 0;
    width: 100%;
}

#new-project-title {
    height: 150%;
    border: none;
    padding: 0 10px;
    border: solid var(--pewter-blue);
    outline: none;
    /* width: min(100%, 300px); */
    width: 90%;
    font-size: large;
}

#form-btns-group,
#form-todo-btns-group {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#save-cancel-project-btns-group,
#save-cancel-todo-btns-group {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

#delete-project-btn-group,
#delete-todo-btn-group {
    display: flex;
    justify-content: center;
    align-items: center;
}

.save-cancel-project-btns,
.save-cancel-todo-btns {
    padding: 8px;
    background-color: var(--bone);
    border: none;
    box-shadow: 3px 3px black;
    font-weight: bold;
    font-size: medium;
    letter-spacing: .1rem;
    width: 80px;
}

#save-project-btn,
#edit-project-btn,
#save-todo-btn,
#edit-todo-btn {
    background-color: var(--pewter-blue);
}

#delete-project-btn
#delete-todo-btn {
    background-color: var(--tomato);
}

.new-todo-form {
    position: absolute;
    top: 50%;
    left: 50%;
    width: min(60%, 300px);
    height: min(48%, 450px);
    border: solid black;
    background-color: var(--jasmine);
    transform: translate(-50%, -50%);
    z-index: 3;
}

#todo-inputs-container {
    padding-bottom: 10px;
}

.todo-input-field {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    outline: none;
    width: 90%;
    font-size: large;
}

.todo-inputs {
    height: 25px;
}

.todo-inputs:focus {
    outline: none;
    border: solid var(--pewter-blue);
}

#todo-subfield {
    display: flex;
}

#content {
    width: min(100%, 800px);
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
    background-color: var(--white-chocolate);
    border: solid var(--tomato);
    margin-left: auto;
    margin-right: auto;
}

.todo-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.todo-title {
    font-size: x-large;
    font-weight: bold;
}

.add-todo-btn {
    background-color: var(--white-chocolate);
    border: none;
    font-size: xx-large;
    cursor: pointer;
}

.todo-items-container {
    display: flex;
    flex-direction: column;
    /* border: solid var(--pewter-blue); */
    /* background-color: var(--light-white-chocolate); */
    gap: 2px;
}

.todo-done-title-descrip-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.todo-title-description-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.title,
.description,
.date,
.priority {
    /* border: solid green; */
}

.item {
    /* border: solid var(--jasmine); */
    display: flex;
    justify-content: space-between;
    background-color: var(--light-white-chocolate);
    padding: 10px;
}

.hidden-item {
    opacity: 0;
    transition: opacity 2s ease, transform 2s ease;
    transform: translateX(-1000px); 
}

.done {
    width: 30px;
    height: 30px;
    /* appearance: none; */
    cursor: pointer;
    font-size: large;
    font-weight: bold
}

.title {
    font-size: large;
    font-weight: bold;
} 

.description {
    font-size: small;
}

.date {
    font-size: small;
}

/* .hidden{
    animation: slide-out 1.8s ease;
} */

/* @keyframes slide-out {
    0% {
      transform: translateY(0px);
      opacity: 1;
    }
    100% {
      transform: translateY(-1000px);
      opacity: 0;
    }
}  */

/* .visible{
    animation: slide-in 0.8s ease;
}  */

/* @keyframes slide-in {
    0% {
      transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
}  */